@font-face {
  font-family: "TTFirsNeue300";
  src: url("../fonts/TTFirsNeue-Light.ttf");
}

@font-face {
  font-family: "TTFirsNeue400";
  src: url("../fonts/TTFirsNeue-Regular.ttf");
}

@font-face {
  font-family: "TTFirsNeue500";
  src: url("../fonts/TTFirsNeue-Medium.ttf");
}

@font-face {
  font-family: "TTFirsNeue600";
  src: url("../fonts/TTFirsNeue-DemiBold.ttf");
}

@font-face {
  font-family: "TTFirsNeue700";
  src: url("../fonts/TTFirsNeue-Bold.ttf");
}
